.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.btn--callback {
  background-color: transparent;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f2f5f7;
  border: 1px solid #f2f5f7;
  border-radius: 3px;
  display: flex;
  width: 160px;
  min-height: 40px;
  padding: 11px 15px;
}

.btn--form-call {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f2f5f7;
  background-color: #00b2ff;
  border-radius: 3px;
  padding: 17px 25px;
  display: flex;
  width: 410px;
  min-height: 55px;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 16px;
    padding: 12px 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 39px;
  }
}

.btn--about-as {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00b2ff;
  padding: 14px 13px 8px 12px;
  background-color: transparent;
  border: 1px solid #00b2ff;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  width: 180px;
  min-height: 45px;
  margin-top: 40px;

  @media (max-width: 766px) {
    width: 160px;
    min-height: 35px;
    padding: 8px 15px 8px 12px;
  }
}

.btn--form-submit {
  background-color: #041427;
  border-radius: 3px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  width: 265px;
  min-height: 45px;

  @media (max-width: 767px) {
    width: 100%;
  }
}
