.feedback-form {
  margin-left: auto;
  margin-right: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 27px;
  row-gap: 7px;
  width: 580px;

  h2 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: #ffffff;
    margin: 0;
    grid-column: 1/-1;
  }

  p {
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    grid-column: 1/-1;
    grid-row: 2/3;
    margin: 0;
    margin-top: 5px;
    margin-left: 4px;
    margin-bottom: 7px;
  }
}

.feedback-form__field {
  margin-top: 20px;
  margin-left: 4px;

  input {
    width: 275px;
    height: 50px;
    background-color: rgba(4, 20, 39, 0.15);
    border-radius: 3px;
    border: none;
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    padding: 15px;
  }

  input::placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
}

.feedback-form__field--submit {
  grid-column: 1/2;
  grid-row: 5/6;
}

.feedback-form__field--approval {
  grid-column: 2/3;
  grid-row: 5/6;
  padding-left: 36px;

  label {
    position: relative;
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    opacity: 0.8;
    cursor: pointer;
    display: block;
    margin-top: 14px;

    &:hover {
      opacity: 0.6;
    }
  }

  label::before {
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    position: absolute;
    top: 8px;
    left: -25px;
    cursor: pointer;
  }

  input:checked + label::before {
    background-image: url("../img/svg/approval-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.feedback-form__field--question {
  grid-column: 1/-1;
  margin-bottom: 4px;
  margin-top: 14px;

  textarea {
    width: 100%;
    height: 153px;
    resize: none;
    background-color: rgba(4, 20, 39, 0.15);
    border-radius: 3px;
    padding: 15px;
    padding-top: 22px;
    color: #ffffff;
    border: none;
    box-sizing: border-box;
  }

  textarea::placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
}

.feedback-form--modal {
  position: relative;
  margin-left: 0;
  background-color: #00b3ff;
  border-radius: 3px;
  padding: 35px 36px 40px;
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 610px;

  h2 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 0;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 18px;
  }

  input {
    width: 420px;
  }

  .feedback-form__field {
    margin-top: 12px;
  }

  .feedback-form__field--approval {
    order: 2;
    margin-top: 5px;

    label::before {
      top: 0;
      left: -28px;
    }
  }

  .feedback-form__button-submit {
    width: 420px;
  }

  .feedback-form__button-close {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .feedback-form__close-icon {
    color: #ffffff;
  }
}

.feedback-form--open {
  position: fixed;
}


@media (max-width: 1023px) {
  .feedback-form {
    margin: 0 auto;
    width: 670px;
    max-width: 800px;

    p {
      margin: 0;
    }
  }

  .feedback-form__field {
    margin-top: 18px;
    margin-left: 1px;

    input {
      width: 100%;
    }
  }

  .feedback-form__field--question {
    margin-top: 14px;

    textarea {
      padding-top: 29px;
    }
  }

  .feedback-form__field--submit {
    margin-top: 19px;
  }

  .feedback-form__field--approval {
    width: 235px;
    margin-top: 15px;
    padding-left: 26px;

    input {
      width: 30px;
    }
  }

  .feedback-form__field--approval label::before {
    top: 7px;
    left: -25px;
  }
}

@media (max-width: 767px) {
  .feedback-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    max-width: 630px;

    h2 {
      font-size: 30px;
      line-height: 42px;
    }

    p {
      font-size: 14px;
      line-height: 19px;
    }
  }

  .feedback-form__field {
    width: 100%;
    margin-top: 26px;
  }

  .feedback-form__field--approval {
    width: 230px;
    order: 2;
    margin-top: 12px;
    padding-left: 29px;

    label {
      margin-top: 6px;
    }

    label::before {
      top: 6px;
      left: -26px;
    }
  }

  .feedback-form__field--question {
    margin-top: 15px;

    textarea {
      min-height: 180px;
      padding-top: 20px;
    }
  }

  .feedback-form__field--number {
    margin-top: 13px;
  }

  .feedback-form__field--submit {
    margin-top: 11px;
  }
}
