.main-screen {
  background-color: #041827;
  background-image: url("../img/jpg/main-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 197px 0 280px 250px;

  @media (min-resolution: 2dppx) {
    .main-screen {
      background-image: url("../img/jpg/main-background-retina.jpg");
    }
  }

  h2 {
    margin: 0;
    margin-bottom: 32px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #f2f5f7;
  }

  p {
    margin: 0;
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 155%;
    color: #f2f5f7;
    display: block;
    width: 685px;
    margin-bottom: 46px;
  }
}

.main-screen__link-short-text {
  display: none;
}

@media (max-width: 1023px) {
  .main-screen {
    padding: 92px 0 205px 0;

    h2 {
      font-size: 64px;
      line-height: 75px;
      letter-spacing: 0.07em;
      margin-bottom: 1px;
    }

    p {
      font-weight: 400;
      font-size: 22px;
      line-height: 155%;
      margin-bottom: 56px;
    }
  }


  .main-screen__link {
    margin-left: 46px;
  }
}

@media (max-width: 767px) {
  .main-screen {
    padding: 88px 0 190px 0;

    h2 {
      font-size: 36px;
      line-height: 42px;
      letter-spacing: 0.07em;
      margin-bottom: 9px;
    }

    p {
      width: auto;
      font-size: 14px;
      line-height: 155%;
      margin-bottom: 44px;
    }
  }


  .main-screen__link-full-text {
    display: none;
  }

  .main-screen__link-short-text {
    display: inline;
  }

  .main-screen__link {
    margin-left: 0;
  }
}
