.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 35px 0;
}

.main-navigation__link {
  margin-right: 30px;
}

@media (max-width: 1023px) {
  .main-navigation {
    padding: 20px 0 25px 0;
  }

  .main-navigation__callback-button {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-navigation {
    padding: 10px 0 20px 0;
  }

  .main-navigation__callback-button {
    display: none;
  }
}
