.main-footer {
  background-color: #041827;
  padding: 50px 0 47px 0;
}

.main-footer__logo-link {
  display: block;
  margin-bottom: 30px;
}

.main-footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  width: 205px;
  margin-left: 15px;
}

.main-footer__social-logo-wrapper {
  margin-right: auto;
}

.main-footer__categories-wrapper--contacts {
  margin-right: 25px;
  margin-left: 84px;
}

.main-footer__categories-title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-top: 7px;
}

.main-footer__categories-title-wrapper {
  margin: 0;
  margin-bottom: 20px;
}

.main-footer__categories-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 320px;
}

.main-footer__categories-list--navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 143px;
  width: 415px;
}

.main-footer__categories-item:not(:last-child) {
  margin-bottom: 6px;
  margin-right: 5px;
}

.main-footer__categories-item {
  margin-right: 5px;
  display: block;
}

.main-footer__categories-link,
.main-footer__address {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
}

.main-footer__categories-button {
  display: none;
}

@media (max-width: 1023px) {
  .main-footer {
    padding-bottom: 63px;
  }

  .main-footer__categories-list--navigation {
    height: max-content;
  }

  .main-footer__social-logo-wrapper {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 23px;
    margin-right: 0;
  }

  .main-footer__logo-link {
    display: block;
    margin-bottom: 0;
  }

  .main-footer__social-list {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 11px;
    width: 145px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .main-footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }

  .main-footer__categories-wrapper--contacts {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .main-footer {
    background-color: #041827;
    padding: 35px 0 35px 0;
  }

  .main-footer__social-logo-wrapper {
    width: 215px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
  }

  .main-footer__logo-link {
    margin-bottom: 10px;
  }

  .main-footer__categories-title {
    margin-top: 0;
  }

  .main-footer__categories-list {
    display: none;
    width: 100%;
    margin-top: 15px;
  }

  .main-footer__categories-list--navigation {
    width: 100%;
  }

  .main-footer__categories-wrapper {
    width: 100%;
    max-width: 767px;
    padding: 16px 21px 17px 25px;
    border-top: 2px solid rgba(248, 253, 255, 0.7);
    border-bottom: 2px solid rgba(248, 253, 255, 0.7);
  }

  .main-footer__categories-wrapper--contacts {
    padding-bottom: 12px;
  }

  .main-footer__categories-wrapper:nth-child(even) {
    border-bottom: none;
  }

  .main-footer__categories-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .main-footer__categories-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    padding: 0;
  }

  .main-footer__address {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 8px;
  }

  .main-footer__categories-link {
    font-size: 14px;
    line-height: 25px;
  }

  .main-footer__categories-button::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 4px;
    width: 16px;
    height: 3px;
    background-color: #c4c4c4;
  }

  .main-footer__categories-button::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 11px;
    width: 3px;
    height: 16px;
    background-color: #c4c4c4;
  }

  .main-footer__categories-list--opened {
    display: block;
  }

  .main-footer__categories-button--opened::after {
    display: none;
  }

  .main-footer__categories-wrapper--no-js {
    .main-footer__categories-list {
      display: flex;
      flex-direction: column;
    }

    .main-footer__categories-button {
      display: none;
    }
  }
}
