.products-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 85px;
  row-gap: 85px;
}

@media (max-width: 1023px) {
  .products-list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

@media (max-width: 767px) {
  .products-list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
